@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

input {
  @apply outline-none;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
  z-index: -1;
}

@media (max-width: 480px) {
  .leaflet-container {
    height: 50vh;
    width: 100%;
    z-index: -1;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.img {
  transition: "all 1s cubic-bezier(0.7,0,0.3,1)";

  animation: animate 8s 1 ease-in-out;
}

@keyframes animate {
  from {
    transition: scale(1) translate(0px);
  }
  to {
    transition: scale(1.3) translate(0px);
  }
}

@media (max-width: 480px) {
  .mytable {
    display: none;
  }
}
.box {
  -webkit-box-shadow: 2px 11px 5px -7px rgba(182, 214, 174, 1);
  -moz-box-shadow: 2px 11px 5px -7px rgba(182, 214, 174, 1);
  box-shadow: 2px 11px 5px -7px rgba(182, 214, 174, 1);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.ce-my-message-bubble {
  background-color: #7a39e0 !important;
}

.ce-chat-title-text {
  color: #7a39e0 !important;
}

.ce-chat-subtitle-text {
  color: #7a39e0 !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
  color: #7a39e0 !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-spin-dot-item {
  background-color: white !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}
